<div *ngIf="mostrar" class="comp">

    <div class="confirmar">
        <h4>Quieres enviar el formulario?</h4>
        <!-- <button (click)="miFuncion()">Continuar</button>-->
        <button  (click)="estado()">cancelar</button>
        <button (click)="pag2()">Mostrar Otra Ruta</button>

    </div>





    <!-- ya no pasaremos valores de padre a hijo ya que lop haremos mediante rutas
        
        <h5>{{datos.nombre}}</h5>

    <div *ngIf="mostrar">
        <app-pagina2  [datosrecibidos]="datos" ></app-pagina2>
    </div> -->



</div>