<div>
  <div class="tprincipal">
    <h1><a routerLink="/home">Laboratorio 10</a></h1>
    <ul class="lista">
      <li><a routerLink="/formulario">Formulario</a></li>
      <li><a href="#">Proceso</a></li>
      <li><a href="#">Proceso</a></li>
      <li><a href="#">Proceso</a></li>
      <li><a href="#">Procesos</a></li>
    </ul>
  </div>
  <video src="assets/mylivewallpapers-com-Magical-Forest.mp4"  loop autoplay></video>

 
 
  <div class="ventanas">
    <router-outlet></router-outlet>
  </div>
</div>